<!--Team-->
<% cache do %>

<section class="page-block team" id="team">
  <div class="container">
    <div class="row page-header">
      <h2>Meet our team</h2>
      <span>Subtext for header</span>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4" style="right:-150px;">
        <%= image_tag "JJ-Profile-Pic2.jpg", class:"img-circle-thumbnail img-center", alt:"Jeffrey Joseph Seymour Jr." %>
        <h3>JJ Seymour</h3>
        <p>Person</p>
        <div class="social-networks">
          <a class="icon-github tooltipped" href="https://github.com/jjseymour" target="_blank" title="GitHub"></a>
          <a class="icon-linkedin tooltipped" href="https://www.linkedin.com/in/jjseymour" target="_blank" title="LinkedIn"></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4" style="right:-230px;">
        <%= image_tag "MayankM-Profile-Pic.jpg", class:"img-circle-thumbnail img-center", alt:"Mayank Mishra" %>
        <h3>Mayank Mishra</h3>
        <p>Also a person</p>
        <div class="social-networks">
          <a class="icon-github tooltipped" href="https://github.com/InvasiveLionfish" target="_blank" title="GitHub"></a>
          <a class="icon-linkedin tooltipped" href="https://www.linkedin.com/in/mayankmishra23" target="_blank" title="LinkedIn"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>